<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 style="color: #0B3861; font-size:50px">Centros de Investigacion</h2>
    <p style="color: #0B3861; font-size:20px">
      Centros de investigacion estudiantil y plantel docente de alto nivel
    </p>
  </div>
</div>

<div class="container">
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex class="contentResp">
    <div class="blocks" fxFlex>
      <br /><br />
      <h4>Sociedades Cientifcas</h4>
      <div class="circle">
        <button
          type="button"
          class="btn btn-default"
          (click)="detailModal1.show()"
        >
          <br /><img src="https://www.javerianacali.edu.co/sites/default/files/styles/image_1000x500_/public/2020-10/Ingenier%C3%ADa%20de%20Sistemas_Javeriana%20Cali-2.jpg?h=82f92a78&itok=C7mkvE5Y" alt="Second" />
        </button>
      </div>
    </div>
    <div class="blocks" fxFlex>
      <br /><br />
      <h4>Rama Estudiantil</h4>
      <div class="circle">
        <button
          type="button"
          class="btn btn-default"
          (click)="detailModal2.show()"
        >
          <br /><img
            src="https://www.javerianacali.edu.co/sites/default/files/styles/image_1100x700/public/2020-02/Ingenier%C3%ADa-de-Sistemas-1100x700.jpg?h=299a7bbc&itok=fJA2fdhZ"
            alt="Second"
            class="center-block"
          />
        </button>
      </div>
    </div>
    <div class="blocks" fxFlex>
      <br /><br />
      <h4>Centros de Estudiantes</h4>
      <div class="circle">
        <button
          type="button"
          class="btn btn-default"
          (click)="detailModal3.show()"
        >
          <br /><img
            src="https://www.ucentral.edu.co/sites/default/files/inline-images/perfiles-ingenieria-sistemas.jpg"
            alt="Second"
            class="center-block"
          />
        </button>
      </div>
    </div>
    <div class="blocks" fxFlex>
      <br /><br />
      <h4>Investigacion Docente</h4>
      <div class="circle">
        <button
          type="button"
          class="btn btn-default"
          (click)="detailModal4.show()"
        >
          <br /><img
            src="https://www.unitec.mx/content/dam/unitec/2017/08/ingenieria-sistemas-computacionales-unitec-1h.jpg"
            alt="Second"
            class="center-block"
          />
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #detailModal1="bs-modal" [config]="{backdrop: 'true'}" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left" translate>Sociedades Cientifcas</h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="detailModal1.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="https://www.ucentral.edu.co/sites/default/files/inline-images/perfiles-ingenieria-sistemas.jpg" width="300px" height="auto" />
        <br /><br /><br />
        <p translate>
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
          ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
          ipsum
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #detailModal2="bs-modal" [config]="{backdrop: 'true'}" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left" translate>
          Rama Estudiantil
        </h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="detailModal2.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="https://www.ucentral.edu.co/sites/default/files/inline-images/perfiles-ingenieria-sistemas.jpg" width="300px" height="auto" />
        <br /><br />
        <p translate>
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
          ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
          ipsum
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #detailModal3="bs-modal" [config]="{backdrop: 'true'}" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          Centros de estudiantes
        </h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="detailModal3.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="https://www.ucentral.edu.co/sites/default/files/inline-images/perfiles-ingenieria-sistemas.jpg" width="300px" height="auto" />
        <br /><br />
        <p translate>
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
          ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
          ipsum
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #detailModal4="bs-modal" [config]="{backdrop: 'true'}" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          Investigacion Docente
        </h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="detailModal4.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="https://www.ucentral.edu.co/sites/default/files/inline-images/perfiles-ingenieria-sistemas.jpg" width="300px" height="auto" />
        <br /><br />
        <p>
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
          ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
          Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
          ipsum
        </p>
      </div>
    </div>
  </div>
</div>

<br /><br /><br />