<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 style="color: #0B3861; font-size:50px">Sobre Nosotros</h2>
    <p style="color: #0B3861; font-size:20px">
      Carrera de Ingenieria de Sistemas, Materia: Tecnologias Web
    </p>
  </div>
</div>

<div class="container">
  <hr
    class="hr-text"
    style="font-size:25px"
    data-content="Docentes tiempo Completo"
  />
  <br />
</div>

<app-professor></app-professor>
<br />

<div class="container">
  <hr
    class="hr-text"
    style="font-size:25px"
    data-content="Estudiantes Destacados"
  />
  <br />
</div>
<br />

<app-student></app-student>
<br /><br />

<div class="container">
  <hr
    class="hr-text"
    style="font-size:25px"
    data-content="Ambientes de aprendizaje"
  />
  <br />
</div>
<br />

<app-environment></app-environment>
<br /><br />
