<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 style="align-items:center; color: #0B3861; font-size:50px">
      ¡Contactanos en cualquier momento!
    </h2>
  </div>
</div>

<br /><br />

<div class="container">
  <div class="card">
    <h3 class="card-header">Contacto con Admisiones</h3>
    <div class="card-body">
      <h5 class="card-title">+591 2911093</h5>
      <p class="card-text">
        <span>Calle Presbitero Medina #2597</span><br />
        <span>Edificio Monte Olimpo, Zona Sopocachi</span><br />
        <span>Horarios de Atencion en oficinas: 8:00/16:00</span>
      </p>
      <ul>
        <li translate>Maria Perez / Interno: 255</li>
        <li translate>Alejandro Maldonado / Interno: 253</li>
        <li translate>Elizabeth Romero / Interno: 258</li>
      </ul>
    </div>
  </div>
</div>

<br /><br />

<div class="container">
  <div class="card">
    <h3 class="card-header">Contacto con Profesor A cargo</h3>
    <div class="card-body">
      <h5 class="card-title">Ing. Marcelo Ticona</h5>
      <br />
      <p class="card-text">
        Docente a cargo de la materia de Tecnologias Web en la universidad
        Catolica Boliviana San Pablo Regional La Paz.
        <br />Docente del departamento de la carrera de Ingenieria de Sistemas
        (INS)
      </p>
      <p class="card-text">
        <span>+591 73218363</span><br />
        <span>Nloque C, Bloque de Ingenieria. Primer piso</span><br />
        <span>Horarios de Atencion en oficinas: 8:00/16:00</span>
      </p>
    </div>
  </div>
</div>

<br /><br />
