<br /><br />

<div class="container">
  <h1 style="color: #0B3861; font-size:50px">
    Publicaciones por estudiantes de la materia
  </h1>
</div>
<br /><br />

<div *ngFor="let year of publicationYearRange">
  <div class="container">
    <h2 style="color: #0B3861" class="year">{{year}}</h2>
    <br />
    <ul>
      <div *ngFor="let publication of setPublicationsByYear(year)">
        <li class="pub">
          {{publication.author}}, "{{publication.title}}," {{publication.name}}
        </li>
      </div>
    </ul>
  </div>
</div>

<br /><br />
