<div class="container">
  <div class="card bg-dark text-white">
    <img class="card-img" src="http://www.uclm.es/-/media/Images/Noticias/Junio-18/Ciudad-Real/Estudiantes_destacados.ashx" alt="home" />
    <div class="card-img-overlay"><br /></div>
  </div>
</div>

<br />
<hr width="50%" />

<div *ngIf="students">
  <div class="container">
    <div fxShow fxLayout="row" fxHide.xs="true" fxHide.sm="true" fxFlex class="contentResp">
      <div class="blocks" fxFlex>
        <h3>Sara Salzar</h3>
        <div>
          <span>20 años<br />Ingenieria de Sistemas<br />3er Año</span>
        </div>
        <br />
      </div>
      <div class="blocks" fxFlex>
        <h3>Stephanie Saavedra</h3>
        <div>
          <span>19 años<br />Ingenieria de Sistemas<br />3er Año</span>
        </div>
        <br />
      </div>
      <div class="blocks" fxFlex>
        <h3>Ignacio Paz</h3>
        <div>
          <span>18 años<br />Ingenieria de Sistemas<br />3er Año</span>
        </div>
        <br />
      </div>
      <div class="blocks" fxFlex>
        <h3>Juan Manuel Carranza</h3>
        <div>
          <span>20 años<br />Ingenieria de Sistemas<br />3er Año</span>
        </div>
        <br />
      </div>
      <div class="blocks" fxFlex>
        <h3>Joaquin Gutierrez</h3>
        <div>
          <span>21 años<br />Ingenieria de Sistemas<br />3er Año</span>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>