<div class="container">
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayout.sm="column"
    fxFlex
    class="contentResp"
  >
    <div class="blocks" fxFlex>
      <img
        src="assets/img/about/message_kishi.png"
        width="auto"
        height="auto"
        alt="message"
      />
      <hr width="60%" />
      <h4><span>Ingeniero Marcelo Ticona</span></h4>
      <h5>Docente Responsable</h5>
    </div>
    <div class="blocks" fxFlex>
      <br />
      <h3>Materia: Tecnologias Web</h3>
      <p>
        La materia de Tecnologias Web tiene el objetivo de otrogar habilidades a
        sus estudiantes refente a frameworks, lenguajes de desarrollo web. Para
        su posterior aplicacion en el mundo laboral y en proyectos
        personales.<br /><br />
        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
        Lorem ipsum
      </p>
    </div>
  </div>
</div>
<br /><br />

<div class="container">
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayout.sm="column"
    fxFlex
    class="contentResp"
  >
    <div class="blocks" fxFlex>
      <h3 font-weight="bold">Background</h3>
      <p style="text-align: center;">
        <span>Ingeniero en Sistemas Computaciones</span><br />

        <span
          >Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
          ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </span
        ><br />
      </p>
    </div>
  </div>
</div>
