<div class="top-carousel top-pc-img">
  <carousel>
    <slide>
      <img
        src="assets/img/home/2021top.jpg"
        srcset="
          assets/img/home/2021top.jpg 320w,
          assets/img/home/2021top.jpg 640w
        "
        sizes="50vw"
        [style.max-height]="isMobile ? '200px' : '400px'"
      />
      <div class="carousel-caption d-none d-sm-block d-md-block d-lg-block">
        <h3>Herramientas del Futuro</h3>
      </div>
    </slide>
    <slide>
      <img
        src="assets/img/home/macsurfacelong.jpg"
        alt="Second slide"
        class="center-block"
        [style.max-height]="isMobile ? '200px' : '400px'"
      />
      <div class="carousel-caption d-none d-sm-block d-md-block d-lg-block">
        <h3>Oportunidades y Actividades extracurriculares</h3>
      </div>
    </slide>
    <slide>
      <img
        src="assets/img/home/room.jpg"
        alt="Third slide"
        class="center-block"
        [style.max-height]="isMobile ? '200px' : '400px'"
      />
      <div class="carousel-caption d-none d-sm-block d-md-block d-lg-block">
        <h3 translate>Centros de Investigacion</h3>
      </div>
    </slide>
  </carousel>
</div>

<br /><br />

<div class="container">
  <div class="card">
    <h5 class="card-header">Perfil del Estudiante&nbsp;</h5>

    <div *ngIf="currentLang==='en'; else jaNews">
      <div *ngFor="let one_news of getRecentNews(5)">
        <div class="card-body">
          <div class="card-title"></div>
        </div>
      </div>
      <ng-template #jaNews>
        <div *ngFor="let one_news of getRecentNews(5)">
          <div class="card-body">
            <div class="card-title"></div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <br /><br /><br />
</div>
